### Implementation

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

df=pd.read_csv("/content/drive/MyDrive/samar_t20_tweet.csv")

Mounted at /content/drive

In [ ]:
df1=df.copy()#to store a copy of orignal dataset
df.head()

,Unnamed: 0,id,text
0,0,1592207702931169280,Ben Stokes is Highest run-scorer for England i...
1,1,1592207691778490370,Fortune and glory üèÜ\n\nJos Buttler led England...
2,2,1592207685314813953,Our very own @bazidkhan81 ‚ù§Ô∏è\n\nA lone warrior...
3,3,1592207669712261123,Some outstanding performances with the bat at ...
4,4,1592207668508504064,So Shaheen Afridi worth 200 crore in IPL aucti...

## **Uploaded file ,Now labelling it with emoctions and and polarity of words**

In [ ]:
from textblob import TextBlob
df['calculated'] = df['text'].apply(lambda x: (TextBlob(x).sentiment.polarity))

In [ ]:
df.head()

,Unnamed: 0,id,text,calculated
0,0,1592207702931169280,Ben Stokes is Highest run-scorer for England i...,0.000000
1,1,1592207691778490370,Fortune and glory üèÜ\n\nJos Buttler led England...,0.000000
2,2,1592207685314813953,Our very own @bazidkhan81 ‚ù§Ô∏è\n\nA lone warrior...,0.642976
3,3,1592207669712261123,Some outstanding performances with the bat at ...,0.750000
4,4,1592207668508504064,So Shaheen Afridi worth 200 crore in IPL aucti...,0.066667

In [ ]:
df[df['calculated']<0]

,Unnamed: 0,id,text,calculated
24,24,1592207309513846787,JUST IN: Shaheen Afridi will undergo a two-wee...,-0.005
30,30,1592207232124715009,"Meanwhile, Muslim cricketers in India have to ...",-0.300
38,38,1592207107340013568,JUST IN: Shaheen Afridi will undergo a two-wee...,-0.005
46,46,1592206983066705929,From criticising their place in the playing XI...,-0.050
55,55,1592206870340849664,The second round of the T20 World Cup will com...,-0.100
...,...,...,...,...
49915,49915,1591839162717855744,"Meanwhile, Muslim cricketers in India have to ...",-0.300
49917,49917,1591839161459396613,"Meanwhile, Muslim cricketers in India have to ...",-0.300
49942,49942,1591839102986772480,"@ArfaSays_ We have respect to loose,but i feel...",-0.500
50012,50012,1591838923575406594,@ArfaSays_ @ArfaSays_ We have respect to loose...,-0.500
50095,50095,1591838732692631552,All those who trolled Indians karma hits so ba...,-0.700

In [ ]:
#with referrence to https://www.researchgate.net/publication/321057905_Emoji_as_Emotion_Tags_for_Tweets
#https://github.com/leyaoliatan/Sentiments-in-Tweets-with-Emojis/blob/main/1_tweet_collect_en.ipynb
joy = ['\U0001F600', '\U0001F602', '\U0001F603', '\U0001F604',
          '\U0001F606', '\U0001F607', '\U0001F609', '\U0001F60A',
          '\U0001F60B', '\U0001F60C', '\U0001F60D', '\U0001F60E',
          '\U0001F60F', '\U0001F31E', '\U0000263A', '\U0001F618',
          '\U0001F61C', '\U0001F61D', '\U0001F61B', '\U0001F63A',
          '\U0001F638', '\U0001F639', '\U0001F63B', '\U0001F63C',
          '\U00002764', '\U0001F496', '\U0001F495', '\U0001F601',
          '\U00002665']#joy

anger = ['\U0001F62C', '\U0001F620', '\U0001F610',
          '\U0001F611', '\U0001F620', '\U0001F621', '\U0001F616',
          '\U0001F624', '\U0001F63E']#anger
disgust= ['\U0001F4A9']#disgust
fear = ['\U0001F605', '\U0001F626', '\U0001F627', '\U0001F631',
          '\U0001F628', '\U0001F630', '\U0001F640']#fear
sad = ['\U0001F614', '\U0001F615', '\U00002639', '\U0001F62B',
          '\U0001F629', '\U0001F622', '\U0001F625', '\U0001F62A',
          '\U0001F613', '\U0001F62D', '\U0001F63F', '\U0001F494']#sad
surp = ['\U0001F633', '\U0001F62F', '\U0001F635', '\U0001F632']#surprise
happy=joy+surp
sad=disgust+fear+sad+anger

In [ ]:
def countsad (a):
  count=0
  for i in a :
    if i in sad:
      count+=1
  return count
def counthappy ( a):
  count=0
  for i in a:
    if i in happy:
      count+=1
  return count

In [ ]:
df['sad']=df['text'].apply(countsad)
df['happy']=df['text'].apply(counthappy)

In [ ]:
df.tail(10)

,Unnamed: 0,id,text,calculated,sad,happy
50089,50089,1591838757241892865,JAZBAA....JUNOON‚ù§Ô∏è YEHi FARK HAi HUM MAi OR.. ...,0.0,0,2
50090,50090,1591838753647218692,We greatly appreciate the support of fans thro...,0.8,0,0
50091,50091,1591838752422432776,"Mathew Hayden message to team Pakistan - ""Than...",0.0,0,0
50092,50092,1591838744646410241,Mohammad Shami has joined the club of Irfan Pa...,0.2,0,0
50093,50093,1591838737423826944,We greatly appreciate the support of fans thro...,0.8,0,0
50094,50094,1591838733065945088,Difference\n#T20WorldCupFinal #T20WorldCup #PA...,0.0,0,0
50095,50095,1591838732692631552,All those who trolled Indians karma hits so ba...,-0.7,0,0
50096,50096,1591838730046013441,The #T20WorldCup ends with nearly a month-long...,0.3,0,0
50097,50097,1591838727462359040,"This is how we give respect to our team, with ...",0.0,0,0
50098,50098,1591838726145323008,"Attendance in MCG for #T20WorldCupFinal - ùüñùüé,ùüí...",0.0,0,0

In [ ]:
def final(sad, happy, pol):#pol:polarity
    if sad >0 and happy==0:
      return -1
    elif happy>0 and sad==0:
      return 1
    elif pol>0:
      return 1
    elif pol<0 :
      return -1
    else:
       return 0

In [ ]:
df['sentiment-overall']=df.apply(lambda row : final(row['sad'],
                     row['happy'], row['calculated']), axis = 1)

In [ ]:
df.head()

,Unnamed: 0,id,text,calculated,sad,happy,sentiment-overall
0,0,1592207702931169280,Ben Stokes is Highest run-scorer for England i...,0.000000,0,0,0
1,1,1592207691778490370,Fortune and glory üèÜ\n\nJos Buttler led England...,0.000000,0,0,0
2,2,1592207685314813953,Our very own @bazidkhan81 ‚ù§Ô∏è\n\nA lone warrior...,0.642976,0,2,1
3,3,1592207669712261123,Some outstanding performances with the bat at ...,0.750000,0,1,1
4,4,1592207668508504064,So Shaheen Afridi worth 200 crore in IPL aucti...,0.066667,0,0,1

## The sentiment are as follows 
1 for positive
0 for neutral
-1 for negative

In [ ]:
df['sentiment-overall'].value_counts()

 1    28642
 0    17125
-1     4332
Name: sentiment-overall, dtype: int64

#preprocessing of tweets


Removing # and @ symbols and hastags  also removing RT(retweet) and urls attached

In [ ]:
import re
def cleantweets(text):
  text=re.sub(r'@[A-Za-z0-9]+',"",text) 
  text=re.sub(r'#',"",text)  ##remove
  text=re.sub(r'RT[\s]+',"",text) #retweets remove
  text=re.sub(r'https?:\/\/\S+',"",text) #urls remove
  return text

df['text']=df['text'].apply(cleantweets)  
df

,Unnamed: 0,id,text,calculated,sad,happy,sentiment-overall
0,0,1592207702931169280,Ben Stokes is Highest run-scorer for England i...,0.000000,0,0,0
1,1,1592207691778490370,Fortune and glory üèÜ\n\nJos Buttler led England...,0.000000,0,0,0
2,2,1592207685314813953,Our very own ‚ù§Ô∏è\n\nA lone warrior in the comm...,0.642976,0,2,1
3,3,1592207669712261123,Some outstanding performances with the bat at ...,0.750000,0,1,1
4,4,1592207668508504064,So Shaheen Afridi worth 200 crore in IPL aucti...,0.066667,0,0,1
...,...,...,...,...,...,...,...
50094,50094,1591838733065945088,Difference\nT20WorldCupFinal T20WorldCup PAKvE...,0.000000,0,0,0
50095,50095,1591838732692631552,All those who trolled Indians karma hits so ba...,-0.700000,0,0,-1
50096,50096,1591838730046013441,The T20WorldCup ends with nearly a month-long ...,0.300000,0,0,1
50097,50097,1591838727462359040,"This is how we give respect to our team, with ...",0.000000,0,0,0
50098,50098,1591838726145323008,"Attendance in MCG for T20WorldCupFinal - ùüñùüé,ùüíùüî...",0.000000,0,0,0

##removing punctuations

In [ ]:
import string
string.punctuation # contains all possible punctuations

def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    return text

df['text'] = df['text'].apply(lambda x: remove_punct(x))
df.head(10)

,Unnamed: 0,id,text,calculated,sad,happy,sentiment-overall
0,0,1592207702931169280,Ben Stokes is Highest runscorer for England in...,0.000000,0,0,0
1,1,1592207691778490370,Fortune and glory üèÜnnJos Buttler led England t...,0.000000,0,0,0
2,2,1592207685314813953,Our very own ‚ù§Ô∏ènnA lone warrior in the commbo...,0.642976,0,2,1
3,3,1592207669712261123,Some outstanding performances with the bat at ...,0.750000,0,1,1
4,4,1592207668508504064,So Shaheen Afridi worth crore in IPL auctionn...,0.066667,0,0,1
5,5,1592207645544706049,The Most Valuable Team of the Tournament reve...,0.500000,0,0,1
6,6,1592207616931172352,When Shaheen walked off the field with an inju...,0.800000,0,1,1
7,7,1592207596173529090,We call him a runmachine for a reason üòènnWhat ...,0.500000,0,1,1
8,8,1592207586161721346,The Most Valuable Team of the Tournament reve...,0.500000,0,0,1
9,9,1592207581350854656,The Most Valuable Team of the Tournament reve...,0.500000,0,0,1

##Removing stopwords

In [ ]:
import string
string.punctuation # contains all possible punctuations

def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    return text

df['text'] = df['text'].apply(lambda x: remove_punct(x))
df.head(10)

,Unnamed: 0,id,text,calculated,sad,happy,sentiment-overall
0,0,1592207702931169280,Ben Stokes is Highest runscorer for England in...,0.000000,0,0,0
1,1,1592207691778490370,Fortune and glory üèÜnnJos Buttler led England t...,0.000000,0,0,0
2,2,1592207685314813953,Our very own ‚ù§Ô∏ènnA lone warrior in the commbo...,0.642976,0,2,1
3,3,1592207669712261123,Some outstanding performances with the bat at ...,0.750000,0,1,1
4,4,1592207668508504064,So Shaheen Afridi worth crore in IPL auctionn...,0.066667,0,0,1
5,5,1592207645544706049,The Most Valuable Team of the Tournament reve...,0.500000,0,0,1
6,6,1592207616931172352,When Shaheen walked off the field with an inju...,0.800000,0,1,1
7,7,1592207596173529090,We call him a runmachine for a reason üòènnWhat ...,0.500000,0,1,1
8,8,1592207586161721346,The Most Valuable Team of the Tournament reve...,0.500000,0,0,1
9,9,1592207581350854656,The Most Valuable Team of the Tournament reve...,0.500000,0,0,1

In [ ]:
df[df['sentiment-overall']<0]

,Unnamed: 0,id,text,calculated,sad,happy,sentiment-overall,tokenized_sents,lemmatized
24,24,1592207309513846787,JUST IN Shaheen Afridi will undergo a twoweek ...,-0.005,0,0,-1,"[JUST, IN, Shaheen, Afridi, will, undergo, a, ...",JUST IN Shaheen Afridi will undergo a twoweek ...
38,38,1592207107340013568,JUST IN Shaheen Afridi will undergo a twoweek ...,-0.005,0,0,-1,"[JUST, IN, Shaheen, Afridi, will, undergo, a, ...",JUST IN Shaheen Afridi will undergo a twoweek ...
40,40,1592207079028436997,Look my heart is beating for Pakistan team onl...,0.000,1,0,-1,"[Look, my, heart, is, beating, for, Pakistan, ...",Look my heart is beating for Pakistan team onl...
46,46,1592206983066705929,From criticising their place in the playing XI...,-0.050,0,0,-1,"[From, criticising, their, place, in, the, pla...",From criticising their place in the playing XI...
55,55,1592206870340849664,The second round of the T World Cup will comme...,-0.100,0,0,-1,"[The, second, round, of, the, T, World, Cup, w...",The second round of the T World Cup will comme...
...,...,...,...,...,...,...,...,...,...
50012,50012,1591838923575406594,We have respect to loosebut i feel sorry for...,-0.500,0,0,-1,"[We, have, respect, to, loosebut, i, feel, sor...",We have respect to loosebut i feel sorry for g...
50031,50031,1591838886925594624,Shaheen Afridi after match sad ENGvPAK PAKvEN...,0.000,1,0,-1,"[Shaheen, Afridi, after, match, sad, ENGvPAK, ...",Shaheen Afridi after match sad ENGvPAK PAKvENG...
50045,50045,1591838858135609345,Pakistans pace bowlers gave it their all sadnn...,0.000,1,0,-1,"[Pakistans, pace, bowlers, gave, it, their, al...",Pakistans pace bowler gave it their all sadnnP...
50047,50047,1591838856986656768,Shaheen Afridi after match sad ENGvPAK PAKvEN...,0.000,1,0,-1,"[Shaheen, Afridi, after, match, sad, ENGvPAK, ...",Shaheen Afridi after match sad ENGvPAK PAKvENG...
50095,50095,1591838732692631552,All those who trolled Indians karma hits so ba...,-0.700,0,0,-1,"[All, those, who, trolled, Indians, karma, hit...",All those who trolled Indians karma hit so bad...

### converting emojis to text (only happy and sad list)

In [ ]:
dhappy={}
dsad={}
for uni in happy:
  dhappy[uni]='happy'
for uni in sad:
  dsad[uni]='sad'

print(dhappy,dsad)    


def repuni(x):
  for key, value in dhappy.items():
    # Replace key character with value character in string
    x = x.replace(key, value)
  for key, value in dsad.items():
    # Replace key character with value character in string
    x = x.replace(key, value)
  return x

{'üòÄ': 'happy', 'üòÇ': 'happy', 'üòÉ': 'happy', 'üòÑ': 'happy', 'üòÜ': 'happy', 'üòá': 'happy', 'üòâ': 'happy', 'üòä': 'happy', 'üòã': 'happy', 'üòå': 'happy', 'üòç': 'happy', 'üòé': 'happy', 'üòè': 'happy', 'üåû': 'happy', '‚ò∫': 'happy', 'üòò': 'happy', 'üòú': 'happy', 'üòù': 'happy', 'üòõ': 'happy', 'üò∫': 'happy', 'üò∏': 'happy', 'üòπ': 'happy', 'üòª': 'happy', 'üòº': 'happy', '‚ù§': 'happy', 'üíñ': 'happy', 'üíï': 'happy', 'üòÅ': 'happy', '‚ô•': 'happy', 'üò≥': 'happy', 'üòØ': 'happy', 'üòµ': 'happy', 'üò≤': 'happy'} {'üí©': 'sad', 'üòÖ': 'sad', 'üò¶': 'sad', 'üòß': 'sad', 'üò±': 'sad', 'üò®': 'sad', 'üò∞': 'sad', 'üôÄ': 'sad', 'üòî': 'sad', 'üòï': 'sad', '‚òπ': 'sad', 'üò´': 'sad', 'üò©': 'sad', 'üò¢': 'sad', 'üò•': 'sad', 'üò™': 'sad', 'üòì': 'sad', 'üò≠': 'sad', 'üòø': 'sad', 'üíî': 'sad', 'üò¨': 'sad', 'üò†': 'sad', 'üòê': 'sad', 'üòë': 'sad', 'üò°': 'sad', 'üòñ': 'sad', 'üò§': 'sad', 'üòæ': 'sad'}

In [ ]:
df['text']=df['text'].apply(repuni)

In [ ]:
df.head()

,Unnamed: 0,id,text,calculated,sad,happy,sentiment-overall
0,0,1592207702931169280,Ben Stokes is Highest runscorer for England in...,0.000000,0,0,0
1,1,1592207691778490370,Fortune and glory üèÜnnJos Buttler led England t...,0.000000,0,0,0
2,2,1592207685314813953,Our very own happyÔ∏ènnA lone warrior in the co...,0.642976,0,2,1
3,3,1592207669712261123,Some outstanding performances with the bat at ...,0.750000,0,1,1
4,4,1592207668508504064,So Shaheen Afridi worth crore in IPL auctionn...,0.066667,0,0,1

##Tokenisation using nltk

In [ ]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
df['tokenized_sents'] = df.apply(lambda row: word_tokenize(row['text']), axis=1)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

## Lemmitisation using nltk

In [ ]:
nltk.download('wordnet')
nltk.download('omw-1.4')
wn = nltk.WordNetLemmatizer()

def lemmatizer(text):
    text = [wn.lemmatize(word) for word in text]
    return text

df['lemmatized'] = df['tokenized_sents'].apply(lambda x: lemmatizer(x))
df.head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

,Unnamed: 0,id,text,calculated,sad,happy,sentiment-overall,tokenized_sents,lemmatized
0,0,1592207702931169280,Ben Stokes is Highest runscorer for England in...,0.000000,0,0,0,"[Ben, Stokes, is, Highest, runscorer, for, Eng...","[Ben, Stokes, is, Highest, runscorer, for, Eng..."
1,1,1592207691778490370,Fortune and glory üèÜnnJos Buttler led England t...,0.000000,0,0,0,"[Fortune, and, glory, üèÜnnJos, Buttler, led, En...","[Fortune, and, glory, üèÜnnJos, Buttler, led, En..."
2,2,1592207685314813953,Our very own happyÔ∏ènnA lone warrior in the co...,0.642976,0,2,1,"[Our, very, own, happyÔ∏ènnA, lone, warrior, in,...","[Our, very, own, happyÔ∏ènnA, lone, warrior, in,..."
3,3,1592207669712261123,Some outstanding performances with the bat at ...,0.750000,0,1,1,"[Some, outstanding, performances, with, the, b...","[Some, outstanding, performance, with, the, ba..."
4,4,1592207668508504064,So Shaheen Afridi worth crore in IPL auctionn...,0.066667,0,0,1,"[So, Shaheen, Afridi, worth, crore, in, IPL, a...","[So, Shaheen, Afridi, worth, crore, in, IPL, a..."

## generation of unigrams and bigrams to use them as a feature 
###with reference to https://www.tutorialspoint.com/python_text_processing/python_bigrams.htm

In [ ]:
##joining the lemmitized text 

df['lemmatized']=df['lemmatized'].apply(lambda x: " ".join(x))
df

,Unnamed: 0,id,text,calculated,sad,happy,sentiment-overall,tokenized_sents,lemmatized
0,0,1592207702931169280,Ben Stokes is Highest runscorer for England in...,0.000000,0,0,0,"[Ben, Stokes, is, Highest, runscorer, for, Eng...",Ben Stokes is Highest runscorer for England in...
1,1,1592207691778490370,Fortune and glory üèÜnnJos Buttler led England t...,0.000000,0,0,0,"[Fortune, and, glory, üèÜnnJos, Buttler, led, En...",Fortune and glory üèÜnnJos Buttler led England t...
2,2,1592207685314813953,Our very own happyÔ∏ènnA lone warrior in the co...,0.642976,0,2,1,"[Our, very, own, happyÔ∏ènnA, lone, warrior, in,...",Our very own happyÔ∏ènnA lone warrior in the com...
3,3,1592207669712261123,Some outstanding performances with the bat at ...,0.750000,0,1,1,"[Some, outstanding, performances, with, the, b...",Some outstanding performance with the bat at t...
4,4,1592207668508504064,So Shaheen Afridi worth crore in IPL auctionn...,0.066667,0,0,1,"[So, Shaheen, Afridi, worth, crore, in, IPL, a...",So Shaheen Afridi worth crore in IPL auctionnR...
...,...,...,...,...,...,...,...,...,...
50094,50094,1591838733065945088,DifferencenTWorldCupFinal TWorldCup PAKvENG En...,0.000000,0,0,0,"[DifferencenTWorldCupFinal, TWorldCup, PAKvENG...",DifferencenTWorldCupFinal TWorldCup PAKvENG En...
50095,50095,1591838732692631552,All those who trolled Indians karma hits so ba...,-0.700000,0,0,-1,"[All, those, who, trolled, Indians, karma, hit...",All those who trolled Indians karma hit so bad...
50096,50096,1591838730046013441,The TWorldCup ends with nearly a monthlong cri...,0.300000,0,0,1,"[The, TWorldCup, ends, with, nearly, a, monthl...",The TWorldCup end with nearly a monthlong cric...
50097,50097,1591838727462359040,This is how we give respect to our team with G...,0.000000,0,0,0,"[This, is, how, we, give, respect, to, our, te...",This is how we give respect to our team with G...
50098,50098,1591838726145323008,Attendance in MCG for TWorldCupFinal ùüñùüéùüíùüîùüê nn...,0.000000,0,0,0,"[Attendance, in, MCG, for, TWorldCupFinal, ùüñùüéùüí...",Attendance in MCG for TWorldCupFinal ùüñùüéùüíùüîùüê nnA...

### Creation of unigram

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfuni = TfidfVectorizer(analyzer='word',ngram_range=(1, 1), stop_words='english')
tfidf_matrix = tfuni.fit_transform(df['lemmatized'])

In [ ]:

tfidf_matrix.shape
dfunigram=pd.DataFrame.sparse.from_spmatrix(tfidf_matrix,columns=tfuni.get_feature_names_out())
dfunigram['label']=df['sentiment-overall']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  This is separate from the ipykernel package so we can avoid doing imports until

### Creation of bigram and storing them in data frame

In [ ]:

tfbi = TfidfVectorizer(analyzer='word',ngram_range=(2, 2), stop_words='english')
tfidf_matrix1 = tfbi.fit_transform(df['lemmatized'])

In [ ]:
tfidf_matrix1.shape
dfbigram=pd.DataFrame.sparse.from_spmatrix(tfidf_matrix1,columns=tfbi.get_feature_names_out())
dfbigram['label']=df['sentiment-overall']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  This is separate from the ipykernel package so we can avoid doing imports until

##Applying Naive Bias and SVM over unigrams and bigram
### first applying naive bias over unigrams

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score,f1_score,confusion_matrix

X_train1, X_test1, y_train1, y_test1 = train_test_split(dfunigram.iloc[:,:-1], dfunigram['label'], test_size = 0.20, random_state = 32)
nbuni = MultinomialNB()
nbuni.fit(X_train1,y_train1)
y_pred1  = nbuni.predict(X_test1)
print("Score",accuracy_score(y_pred1,y_test1))
print("F1-score",f1_score(y_pred1,y_test1,average='weighted'))

Score 0.9388223552894212
F1-score 0.9392364427201876

### Applying Naive Bias over Bigrams

In [ ]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(dfbigram.iloc[:,:-1], dfbigram['label'], test_size = 0.20, random_state = 32)
nbbig = MultinomialNB()
nbbig.fit(X_train2,y_train2)
y_pred2  = nbbig.predict(X_test2)
print("Score",accuracy_score(y_pred2,y_test2))
print("F1-score",f1_score(y_pred2,y_test2,average='weighted'))

Score 0.9452095808383234
F1-score 0.9448144580527557

###Applying Svm over unigrAM

In [ ]:
from sklearn.svm import LinearSVC 
svuni=LinearSVC()
svuni=svuni.fit(X_train1,y_train1)
y_pred3 =svuni.predict(X_test1)
print("Score",accuracy_score(y_pred3,y_test1))
print("F1-score",f1_score(y_pred3,y_test1,average='weighted'))

Score 0.9790419161676647
F1-score 0.9791011740097523

### Applying Svm over bigram

In [ ]:
svbi=LinearSVC()
svbi.fit(X_train2,y_train2)
y_pred4 =svbi.predict(X_test2)
print("Score",accuracy_score(y_pred4,y_test2))
print("F1-score",f1_score(y_pred4,y_test2,average='weighted'))

Score 0.9661676646706587
F1-score 0.9663842786908344

###prediction for any random tweet

In [ ]:
def predict( a):
  uni=tfuni.transform(a)
  bi=tfbi.transform(a)
  print("prediction for " +a[0]+ "is as follows ")
  print("naive bias with unigrams"+str(nbuni.predict(uni)))
  print("naive bias with bigrams"+str(nbbig.predict(bi)))
  print("SVM with unigrams"+str(svuni.predict(uni)))
  print("SVM with unigrams"+str(svbi.predict(bi)))

x=input("enter any string of your choice ::")
x=[x]
predict(x)

enter any string of your choice ::Karma hit so bad this time
prediction for Karma hit so bad this timeis as follows
naive bias with unigrams[-1]
naive bias with bigrams[-1]
SVM with unigrams[-1]
SVM with unigrams[-1]

In [ ]:
x=input("enter any string of your choice ::")
x=[x]
predict(x)

enter any string of your choice ::Shit this is bad for pakistan
prediction for Shit this is bad for pakistanis as follows
naive bias with unigrams[1]
naive bias with bigrams[1]
SVM with unigrams[-1]
SVM with unigrams[1]

In [ ]:
x=input("enter any string of your choice ::")
x=[x]
predict(x)

enter any string of your choice ::dikhadenege pak vs ind
prediction for dikhadenege pak vs indis as follows
naive bias with unigrams[0]
naive bias with bigrams[0]
SVM with unigrams[0]
SVM with unigrams[1]

In [ ]:
x=input("enter any string of your choice ::")
x=[x]
predict(x)

enter any string of your choice ::Where is your god indians
prediction for Where is your god indiansis as follows
naive bias with unigrams[-1]
naive bias with bigrams[1]
SVM with unigrams[-1]
SVM with unigrams[1]

In [ ]:
x=input("enter any string of your choice ::")
x=[x]
predict(x)

enter any string of your choice ::shaheen afridi will start crying
prediction for shaheen afridi will start cryingis as follows
naive bias with unigrams[0]
naive bias with bigrams[-1]
SVM with unigrams[1]
SVM with unigrams[-1]